{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="d-flex justify-content-center"></div>
        <div class="d-flex justify-content-center my-3">
            <h1 class="h3 mb-3 text-center">Connexion</h1>
        </div>
        <div class="mb-3 d-flex justify-content-center">
            <div class="col-4">
                <label for="inputEmail">UserName</label>
                <input type="test" value="{{ last_username }}" name="name" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
        </div>
{#    autocomplete="email"#}
        <div class="mb-3 d-flex justify-content-center">
            <div class="col-4">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
        </div>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <div class="mb-3 d-flex justify-content-center">
        <div class="col-4 text-center">
            <button class="btn btn-lg btn-primary" type="submit">
                Connexion
            </button>
        </div>
    </div>

</form>
{% endblock %}
